.fit-picture{
    width: 250px;
}

li {
    color: deeppink;

    background-color: light;
}

.fit-img-dogs {
    width: 250px;
    height: 250px;
}

.border {
    border: 10px deeppink;
    border-block-style: groove;
    writing-mode: horizontal-tb;
}